<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End To End User Journey" allow-return-values="true" parallel="false" thread-count="2">
    <!-- <listeners>
        <listener class-name="com.reporting.Listeners.TestListener"/>
        <listener class-name="com.reporting.Listeners.AnnotationTransformer"/>
    </listeners>

    <parameter name="grid" value="NO"/> -->
    <!-- <parameter name="perf" value="NO"/> -->

    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="true"/>
    <test name="E2E Tests for Web and Api">
        <!-- <parameter name="browser" value="chrome"/> -->
        <classes>
            <!-- <class name="org.karthikps.testautomation.tests.ApiTest"/> -->
            <class name="org.karthikps.testautomation.tests.UITest"></class>
        </classes>
    </test>

</suite>